
*{
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 10px;

}

/* very important in any kind of form */
.container{
      background-color: #f2f2f2;
      padding: 5px 20px 15px 20px;
      border: 1px solid lightgrey;
      border-radius: 5px;

}
/*very important property*/
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="time"],
select,
textarea{
    width: 100%;
    padding: 12px;
    margin: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;

}
fieldset{
    border: 2px solid #ccc;
    background-color: #fff;
}
.main_heading{
    text-align: center;
    background-color: #4caf84;
    padding: 4px;
    border-radius: 5px;
}


input[type="submit"],
input[type="reset"]
{
    background-color: #4daea1;
    padding: 12px 20px;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin: 10px;
}
input[type="submit"]:hover{
    background-color: #4caf84;
}
input[type="reset"]:hover{
   background-color: #4caf84;
}

span{
    color: red;
}
.terms a{
    text-decoration: none;
}